.flipCard {
  min-height: calc(250px + 5vh);
  perspective: 1000px;
  width: calc(400px + 10vw);
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

h1 {
  padding: 10px;
}

.flipCardFront {
  background-color: #ffff8673;
  color: black;
}

.flipCardBack {
  background-color: whitesmoke;
  color: black;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50px;
}

.cardContent {
  font-family: sans-serif;
  line-height: 1.4;
  padding: calc(10% - 10px);
  position: absolute;
  font-size: calc(13px + 0.390625vw);
}

p {
  font-size: calc(14px + 0.390625vw);
}

.checkmebtn {
  text-decoration: none;
  padding: 8px;
}

.checkmebtn:hover {
  border-radius: 10px;
  background-color: #ffff8673;
}
