.cardsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow: wrap;
  width: 100%;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 50px;
}

.twoCardsLine {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  flex-wrap: wrap;
  gap: 10px;
}

.oneCardLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.flipCard {
  width: calc(46vh - 20px);
  min-height: calc(30vh + 30px);
  perspective: 1000px;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

h1 {
  padding: 10px;
}

.flipCardFront {
  background-color: #ffff8673;
  color: black;
}

.flipCardBack {
  background-color: whitesmoke;
  color: black;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50px;
}
.cardContent {
  font-family: sans-serif;
  line-height: 1.4;
  padding: calc(10% - 10px);
  position: absolute;
  font-size: calc(13px + 0.390625vw);
}
p {
  font-size: calc(13px + 0.390625vw);
}

.checkmebtn {
  width: fit-content;
  height: 50px;
  background-color: ffff8673;
  text-decoration: none;
  padding: 8px;
}
.checkmebtn:hover {
  border-radius: 10px;
  background-color: #ffff8673;
}
